---
interface Props {
  momentum: number;
  health: number;
  spirit: number;
  supply: number;
  edge: number;
  heart: number;
  iron: number;
  shadow: number;
  wits: number;
}

const { momentum, health, spirit, supply, edge, heart, iron, shadow, wits } = Astro.props;

const stats = [
  { name: 'edge', value: edge },
  { name: 'heart', value: heart },
  { name: 'iron', value: iron },
  { name: 'shadow', value: shadow },
  { name: 'wits', value: wits },
];

const meters = [
  { name: 'health', value: health },
  { name: 'spirit', value: spirit },
  { name: 'supply', value: supply },
];
---

<article class="iron-vault-character">
  <ul class="stats">
    {stats.map(stat => (
      <li>
        <dl>
          <dt data-value={stat.name}>{stat.name}</dt>
          <dd>
            <input type="text" inputmode="numeric" value={stat.value} readonly />
          </dd>
        </dl>
      </li>
    ))}
  </ul>
  
  <ul class="meters">
    {meters.map(meter => (
      <li>
        <dl>
          <dt data-value={meter.name}>{meter.name}</dt>
          <dd data-value={meter.value}>
            <span>{meter.value}</span>
          </dd>
        </dl>
      </li>
    ))}
    <li class="momentum">
      <dl>
        <dt>momentum</dt>
        <dd data-value={momentum}>
          <span>{momentum}</span>
        </dd>
      </dl>
    </li>
  </ul>
</article>
